html, body              { background: #fefefe; font-family: "helvetica neue", helvetica, arial, sans-serif; font-size: 14px; padding:0px; margin:0px; }

h1, h2                  { margin-left:2px; }

a                       { color:#222; } 

fieldset                { border-radius:5px; padding:15px; border:1px solid #ccc; }
fieldset legend         { font-weight:bold; }
form label              { display:block; width:120px; float:left; margin-bottom:5px; }
form label span.required { color:darkred; font-weight:bold;  }
form input              { display:block; width:175px; margin-bottom:5px; padding:2px; }
form input[type=submit] { width:80px; padding:1px; }
form textarea           { display:block; width:240px; height:60px; margin-bottom:5px; padding:2px; }
form .field-error       { border:1px solid #dc9a9a; }

header                  { background: #1a1a1a; color: #fff; height:40px; width:100%; }
header nav              { margin:0 20px; padding:0px; }
header nav ul           { margin:0; float:left; padding:0px; }
header nav ul li        { padding:10px; float:left; display: block; margin-right:5px; }
header nav ul li.active { }
header nav ul li.active a { color:#fff; } 
header nav ul li:hover  { background-color:#2a2a2a; } 
header nav ul li:hover  a { color:#efefef; }
header nav a            { color:#999999; font-size: 15px; text-decoration: none; }

header nav .user_menu   { float:right; }

footer                  { height:50px; margin:0 20px; color: #000; padding:0px 10px; border-top:1px dotted #444; }
footer a                { color:#aaa; text-decoration:none; }
footer p.copyright      { float:left; width:300px; }
footer p.powered        { float:right; }

aside                   { width:14%; float:left; background-color: #f1f2f3; margin-right: 10px; border-radius:5px; padding-bottom: 20px; }
aside ul                { padding-left: 30px; }
aside a                 { color:#5282c2; text-decoration:none; }
aside a:hover           { color:#36629c; }
aside a.active          { font-weight:bold; }

section                 { background: #fff; padding:20px; min-height:520px; }
section .breadcrumbs      { color:#444; }
section .breadcrumbs span { color:#777; }
section .breadcrumbs a    { color:#444; text-decoration:none; }
section .breadcrumbs a:hover { color:#111; }

article                 { background-color: #f1f2f3; padding:5px 20px; border-radius:5px; font:14px tahoma, verdana, sans-serif; margin-bottom: 20px; }
article header          { background-color: #f1f2f3; height:20px; }
article header h2       { font-size: 15px; color:#000 }
article header p        { font-size: 14px; }
article p               { }

article.central         { width:80%; float:right; background-color: #f1f2f3; margin-right: 20px; border-radius:5px; padding-bottom: 20px; }

/*** messages */
.alert {
   font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
   margin:6px auto;height:auto;padding:10px 12px;color:#000;
   -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-khtml-border-radius:4px;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */   
}
.alert-success            { background-color:#dff0d8; border:1px solid #d6e9c6; color:#468847; }
.alert-error              { background-color:#f6e5e5; border:1px solid #eed3d7; color:#b94a48; }
.alert-warning            { background-color:#fcf8e3; border:1px solid #fbeed5; color:#c09853; }
.alert-info               { background-color:#dff0fa; border:1px solid #bce8f1; color:#3a87ad; }
.alert-validation         { background-color:#ffd9cc; border:1px solid #ffc6b3; color:#c84f39; }
.alert .close             { float:right;font-size:20px;font-weight:bold;line-height:18px;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20);}.close:hover{color:#000000;text-decoration:none;cursor:pointer;opacity:0.4;filter:alpha(opacity=40); }
.alert button.close,
.alert button.close:hover { padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none; min-width:18px; }
.buttons-wrapper          { margin:15px 0 0 120px} 

/*** action buttons ***/
INPUT[type=submit],
BUTTON
    { background: #73B6FF; background: -moz-linear-gradient(top, #0086cc 0%, #0058cc 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0086cc), color-stop(100%,#0058cc)); background: -webkit-linear-gradient(top, #0086cc 0%,#0058cc 100%); background: -o-linear-gradient(top, #0086cc 0%,#0058cc 100%); background: -ms-linear-gradient(top, #0086cc 0%,#0058cc 100%); background: linear-gradient(top, #0086cc 0%,#0058cc 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086cc', endColorstr='#0058cc',GradientType=0 ); border: 1px solid #0068b7; border-bottom: 1px solid #005799; border-radius:2px; font-weight: normal; font-size: 13px; text-align: center; color: #fff; min-width:65px; text-shadow: 0 1px 0 #52a8ec; cursor: pointer; padding:2px 3px; }
INPUT[type=submit]:hover,
BUTTON:hover
    { box-shadow: 0 2px 5px -1px #aaa; cursor: pointer; }

/*** simple buttons ***/
BUTTON[type=button],
BUTTON[type=reset]
    { background: #fefefe; background: -moz-linear-gradient(top, #fefefe 0%, #e6e6e6 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e6e6e6)); background: -webkit-linear-gradient(top, #fefefe 0%,#e6e6e6 100%); background: -o-linear-gradient(top, #fefefe 0%,#e6e6e6 100%); background: -ms-linear-gradient(top, #fefefe 0%,#e6e6e6 100%); background: linear-gradient(top, #fefefe 0%,#e6e6e6 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e6e6e6',GradientType=0 ); border: 1px solid #dcdcdc; border-bottom: 1px solid #b8b8b8; border-radius:2px; font-weight: normal; font-size: 13px; text-align: center; color: #111; min-width:65px; text-shadow: 0 1px 0 #ccc; cursor: pointer; padding:2px 3px; } 
BUTTON[type=button]:hover,
BUTTON[type=reset]:hover
    { box-shadow: 0 1px 3px -1px #aaa; cursor: pointer; }

/*** disabled elements ***/
INPUT[disabled],SELECT[disabled],TEXTAREA[disabled],INPUT[readonly],SELECT[readonly],TEXTAREA[readonly]{cursor:not-allowed;background-color:#eeeeee;border-color:#ddd;border-width:1px;}
INPUT[type="radio"][disabled],INPUT[type="checkbox"][disabled],INPUT[type="radio"][readonly],INPUT[type="checkbox"][readonly]{background-color:transparent;}

/* placeholders
---------------------------------------------------------- */
:-moz-placeholder{color:#999999;}
:-ms-input-placeholder{color:#999999;}
::-webkit-input-placeholder{color:#999999;}
